body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  color: white;
}

.main_image {
  background: url("../images/the-flatiron-building.png") no-repeat center center;
}

nav li {
  font-size: 18px;
  color: white;
  list-style: none;
  margin: 0 0 20px 0;
}

nav a {
  color: white;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.designed_in {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
